
<div class="col-12 mx-auto c">
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <div class="container">
                <div class="cardr">
                    <div class="front">
                        <img src="/static/img/img/SFF-CATEGORIAS(ANIMACION).png" alt="Img">
                    </div>
                    <div class="back p-5">
                        <h3 class="text1">Animación 2D y 3D</h3>
                        <p class="text1p">Realización de un proyecto audiovisual en 2D o 3D, sin límite de tiempo en su duración. El proyecto puede ser doblado o subtitulado al inglés.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6">
            <div class="container">
                <div class="cardr">
                    <div class="front">
                        <img src="/static/img/img/SFF - CATEGORIAS (CORTO. SUBT).png" alt="Img">
                    </div>
                    <div class="back p-5">
                        <h3 class="text2">Filminuto Amateur</h3>
                        <p class="text2p">Realización de un proyecto audiovisual de un minuto de duración. Máximo 10 segundos por encima o 10 por debajo SIN CONTAR LA DURACIÓN DE LOS CREDITOS. El proyecto puede ser presentado por cualquier aprendiz de cualquier programa titulado del SENA. El proyecto debe ser doblado o subtitulado al inglés.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-12 mx-auto mt-5 c">
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <div class="container">
                <div class="cardr">
                    <div class="front">
                        <img src="/static/img/img/SFF - CATEGORIAS (FILMINUTO EXP).png" alt="Img">
                    </div>
                    <div class="back p-5">
                        <h3 class="text2">Filminuto Experto</h3>
                        <p class="text2p">Realización de un proyecto audiovisual de un minuto de duración. Máximo 10 segundos por encima o 10 por debajo SIN CONTAR LA DURACIÓN DE LOS CREDITOS. La categoría está diseñada para que los aprendices de titulaciones que se desarrollen en el campo del desarrollo audiovisual participen y demuestren sus habilidades por medio de su participación. El proyecto debe ser doblado o subtitulado al inglés.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6">
            <div class="container">
                <div class="cardr">
                    <div class="front">
                        <img src="/static/img/img/SFF - CATEGORIAS (FILMINUTO AMA).png" alt="Img">
                    </div>
                    <div class="back p-5">
                        <h3 class="text2">Cortometraje Subtitulado</h3>
                        <p class="text2p">Realización de un proyecto audiovisual de más de un minuto de duración. La categoría tiene como objetivo fomentar la participación de los aprendices que hayan cursado un programa titulado en el área del desarrollo audiovisual, y quieran dar a conocer sus proyectos ante la comunidad SENA. El corto debe cumplir con normas de subtitulación de acuerdo a estándares internacionales.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
