{% extends 'layout.html' %}

{% block content %}

<div class="fixed-background">
    <div class="col-12 mx-auto">
        <h2 class="titulo4 mb-5 c">PARTICIPANTES EN VERSIONES PREVIAS</h2>

        <div class="col-11 mx-auto mt-5 mb-5">

            <h3 class="titulo3 mb-3 c">IV FESTIVAL - NOV 2023</h3>

            <div class="col-12 c">
                <img src="static/img/img/4TH SFF - Póster Vertical.jpg" class="imgobj" alt="Img">
            </div>

            <div class="col-12 mx-auto">

                <h3 class="titulo3 mb-3">Animación 2D y 3D:</h3>

                <div class="col-10 mx-auto p-3">
                    <div class="row row-cols-1 row-cols-md-3 g-4 c">
                        <div class="col">
                            <div class="card h-100">
                                <a target="_blank" href="https://youtu.be/LIAWDiq4tlk?si=QaigNP8f85v9Ptoi">
                                    <img src="static/img/imgvideos/VI_fest/4th SFF-2D Animation-The Audition.png" class="imgobj1" alt="Img">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title">4th SFF-2D Animation-The Audition</h5>
                                    <p class="card-text">Director: Paula Lizbeth Sánchez Hidalgo</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100">
                                <a target="_blank" href="https://youtu.be/IPZAqSBEJHQ?si=v6MSpDyjuMscAh7n">
                                    <img src="static/img/imgvideos/VI_fest/4th SFF-2D Animation-Muerto.png" class="imgobj1" alt="Img">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title">4th SFF-2D Animation-Muerto</h5>
                                    <p class="card-text">Director: Ángel David Rodríguez Rodríguez</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100">
                                <a target="_blank" href="https://youtu.be/TeboUwEPA4U?si=4Bk1qiNhaijdQX4J">
                                    <img src="static/img/imgvideos/VI_fest/4th SFF-2D Animation-Kunakary la raíz perdida.png" class="imgobj1" alt="Img">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title">4th SFF-2D Animation-Kunakary la raíz perdida</h5>
                                    <p class="card-text">Director: John Edisson Aguirre Ríos</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100">
                                <a target="_blank" href="https://youtu.be/ylVuitdQmVA?si=Y-G4s4AAM2pSwiId">
                                    <img src="static/img/imgvideos/VI_fest/4th SFF-2D Animation-Invasion with discretion.png" class="imgobj1" alt="Img">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title">4th SFF-2D Animation-Invasion with discretion</h5>
                                    <p class="card-text">Director: Carlos David Osorio Gallego</p>
                                </div>
                            </div>
                        </div>

                        <div class="col">
                            <div class="card h-100">
                                <a target="_blank" href="https://youtu.be/QInQ1N52zA8?si=2d8cnsxmS5LSZOMO">
                                    <img src="static/img/imgvideos/VI_fest/4th SFF-3D Animation-Tell Tale Heart.png" class="imgobj1" alt="Img">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title">4th SFF-3D Animation-Tell Tale Heart</h5>
                                    <p class="card-text">Director: Angelly Gabriela Salazar</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100">
                                <a target="_blank" href="https://youtu.be/Nkhvt9KrFs8?si=w7aJQRfOsuKFZ9Bp">
                                    <img src="static/img/imgvideos/VI_fest/4th SFF-3D Animation-Curiosity killed hunger.png" class="imgobj1" alt="Img">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title">4th SFF-3D Animation-Curiosity killed hunger</h5>
                                    <p class="card-text">Director: Paula Carolina Duque Ruíz</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100">
                                <a target="_blank" href="https://youtu.be/DhJRWJ6vqfw?si=ZxS0LD-imM6ehKyN">
                                    <img src="static/img/imgvideos/VI_fest/4th SFF-3D Animation-La armadura del héroe.png" class="imgobj1" alt="Img">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title">4th SFF-3D Animation-La armadura del héroe</h5>
                                    <p class="card-text">Director: Diana Salazar y Sergio Diaz</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 mx-auto">

                <h3 class="titulo3 mb-3">Cortometraje Subtitulado:</h3>

                <div class="col-10 mx-auto p-3">
                    <div class="row row-cols-1 row-cols-md-3 g-4">
                        <div class="col">
                            <div class="card h-100">
                                <a target="_blank" href="https://youtu.be/DoFP7Kn7H2I?si=tnv2uu_61qkIuCWk">
                                    <img src="static/img/imgvideos/VI_fest/4th SFF-Subtitled Shortfilm-La Inocente Sara.png" class="imgobj1" alt="Img">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title">4th SFF-Subtitled Shortfilm-La Inocente Sara</h5>
                                    <p class="card-text">Director: Daniel Montes</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100">
                                <a target="_blank" href="https://youtu.be/5dmFX9EUeYI?si=Sl4bGIVqR3CaNpfa">
                                    <img src="static/img/imgvideos/VI_fest/4th SFF-Subtitled Shortfilm-In search of the truth.png" class="imgobj1" alt="Img">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title">4th SFF-Subtitled Shortfilm-In search of the truth</h5>
                                    <p class="card-text">Director: Kevin Duban García Sánchez</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100">
                                <a target="_blank" href="https://youtu.be/qgHHXcPtBzY?si=tDLywZTEpAjIprxm">
                                    <img src="static/img/imgvideos/VI_fest/4th SFF-Subtitled Shortfilm-La leyenda de Tsukimi.png" class="imgobj1" alt="Img">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title">4th SFF-Subtitled Shortfilm-La leyenda de Tsukimi</h5>
                                    <p class="card-text">Director: Angie Gicell Acosta Morales</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100">
                                <a target="_blank" href="https://youtu.be/uLm8Uj1X8fw?si=EKmA67_mEvMWlz-f">
                                    <img src="static/img/imgvideos/VI_fest/4th SFF-Subtitled Shortfilm-Condena.png" class="imgobj1" alt="Img">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title">4th SFF-Subtitled Shortfilm-Condena</h5>
                                    <p class="card-text">Director: Danna Camila Flórez Gómez</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100">
                                <a target="_blank" href="https://youtu.be/EqgTjULwElU?si=wY4A8RGaYQE99kVt">
                                    <img src="static/img/imgvideos/VI_fest/4th SFF-Subtitled Shortfilm-Anhelo.png" class="imgobj1" alt="Img">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title">4th SFF-Subtitled Shortfilm-Anhelo</h5>
                                    <p class="card-text">Director: Santiago López Marantá</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 mx-auto">

                <h3 class="titulo3 mb-3">Filminuto Aficionado:</h3>

                <div class="col-10 mx-auto p-3">
                    <div class="row row-cols-1 row-cols-md-3 g-4">
                        <div class="col">
                            <div class="card h-100">
                                <a target="_blank" href="https://youtu.be/SFhM_FR1fLE?si=9zUvXq0D5EW0iZ2v">
                                    <img src="static/img/imgvideos/VI_fest/4th SFF-Amateur Filminute-Sueño o Realidad.png" class="imgobj1" alt="Img">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title">4th SFF-Amateur Filminute-Sueño o Realidad</h5>
                                    <p class="card-text">Director: Andrés Felipe Chacón Martínez</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100">
                                <a target="_blank" href="https://youtu.be/nA_atLZHafI?si=1KYPZCFFUYGljNyT">
                                    <img src="static/img/imgvideos/VI_fest/4th SFF-Amateur Filminute-My Overthinking.png" class="imgobj1" alt="Img">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title">4th SFF-Amateur Filminute-My Overthinking</h5>
                                    <p class="card-text">Director: Angie Natalia Rondón Silva</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 mx-auto">

                <h3 class="titulo3 mb-3">Filminuto Experto:</h3>

                <div class="col-10 mx-auto p-3">
                    <div class="row row-cols-1 row-cols-md-3 g-4">
                        <div class="col">
                            <div class="card h-100">
                                <a target="_blank" href="https://youtu.be/t6q2j65SxQQ?si=-OqhNI8abjrCdm9r">
                                    <img src="static/img/imgvideos/VI_fest/4th SFF-Expert Filminute-The Facts.png" class="imgobj1" alt="Img">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title">4th SFF-Expert Filminute-The Facts</h5>
                                    <p class="card-text">Director: Paula Lizbeth Sánchez Hidalgo</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100">
                                <a target="_blank" href="https://youtu.be/MEDYzFIYuz0?si=SyfTd-z34iAO16jM">
                                    <img src="static/img/imgvideos/VI_fest/4th SFF-Expert Filminute-Special gift.png" class="imgobj1" alt="Img">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title">4th SFF-Expert Filminute-Special gift</h5>
                                    <p class="card-text">Director: Juan Sebastián Alzate Carrascal</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100">
                                <a target="_blank" href="https://youtu.be/sRWgCgk9gCk?si=pfYuvu62B2QlbVlR">
                                    <img src="static/img/imgvideos/VI_fest/4th SFF-Expert Filminute-El día de mi muerte.png" class="imgobj1" alt="Img">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title">4th SFF-Expert Filminute-El día de mi muerte</h5>
                                    <p class="card-text">Director: Jhonatan Hernández Garzón</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100">
                                <a target="_blank" href="https://youtu.be/_QUvwqTz_kY?si=b9WHZ_fDXqkxDctW">
                                    <img src="static/img/imgvideos/VI_fest/4th SFF-Expert Filminute-En busca del tesoro.png" class="imgobj1" alt="Img">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title">4th SFF-Expert Filminute-En busca del tesoro</h5>
                                    <p class="card-text">Director: Diana Salazar</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100">
                                <a target="_blank" href="https://youtu.be/PULuSvrKoGE?si=AWnDd1t_KDLwcD9T">
                                    <img src="static/img/imgvideos/VI_fest/4th SFF-Expert Filminute-No man's land.png" class="imgobj1" alt="Img">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title">4th SFF-Expert Filminute-No man's land</h5>
                                    <p class="card-text">Director: Nicolás Medina, Diego Barragán, Cristian David, Harold Andrey</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100">
                                <a target="_blank" href="https://youtu.be/9eNKgs6lbuE?si=Brh4NH12WemVPoJ9">
                                    <img src="static/img/imgvideos/VI_fest/4th SFF-Expert Filminute-Amalia.png" class="imgobj1" alt="Img">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title">4th SFF-Expert Filminute-Amalia</h5>
                                    <p class="card-text">Director: Daniel Vargas Rocha</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-11 mx-auto mt-5 mb-5">

            <h3 class="titulo3 mb-3 c">III FESTIVAL - SEP 2021</h3>

            <div class="col-12 c">
                <img src="static/img/img/3RD SFF - Póster vertical.png" class="imgobj" alt="Img">
            </div>

            <div class="col-12 mx-auto">

                <h3 class="titulo3 mb-3">Corto Subtitulado:</h3>

                <div class="col-10 mx-auto p-3">
                    <div class="row row-cols-1 row-cols-md-3 g-4">
                        <div class="col">
                            <div class="card h-100">
                                <a target="_blank" href="https://youtu.be/EvKL72xZ3WY?si=sDubAdJdBh_KJOPy">
                                    <img src="static/img/imgvideos/III_fest/3th SFF-Corto Subtitulado_AETHER: ENTRE DIMENSIONES.png" class="imgobj1" alt="Img">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title">3th SFF-Corto Subtitulado AETHER: ENTRE DIMENSIONES</h5>
                                    <p class="card-text">Director: Cristian Sanchez</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100">
                                <a target="_blank" href="https://youtu.be/eQG-4l72Ql8?si=weuJAHa58agOf9c6">
                                    <img src="static/img/imgvideos/III_fest/3th SFF-Corto Subtitulado_PLEASURE MARKET.png" class="imgobj1" alt="Img">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title">3th SFF-Corto Subtitulado PLEASURE MARKET</h5>
                                    <p class="card-text">Director: Santiago Martinez</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100">
                                <a target="_blank" href="https://youtu.be/2F8cR1YBdbw?si=c8UYcDdCP8MrS2LN">
                                    <img src="static/img/imgvideos/III_fest/3th SFF-Corto Subtitulado_ROBBERY GAMES.png" class="imgobj1" alt="Img">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title">3th SFF-Corto Subtitulado ROBBERY GAMES</h5>
                                    <p class="card-text">Director: </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 mx-auto">

                <h3 class="titulo3 mb-3">Animación 3D:</h3>

                <div class="col-10 mx-auto p-3">
                    <div class="row row-cols-1 row-cols-md-3 g-4">
                        <div class="col">
                            <div class="card h-100">
                                <a target="_blank" href="https://youtu.be/cNjH4_ecJOk?si=Ei9Q35lQCcWOLOZ1">
                                    <img src="static/img/imgvideos/III_fest/3th SFF-3D Animation-CATCH THE INFINITE.png" class="imgobj1" alt="Img">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title">3th SFF-3D Animation-CATCH THE INFINITE</h5>
                                    <p class="card-text">Director: Richard Gonzalez Luna</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100">
                                <a target="_blank" href="https://youtu.be/QpWx8--9J0w?si=gFNTrmhS7qTk4QV5">
                                    <img src="static/img/imgvideos/III_fest/3th SFF-3D Animation-DARK MELODY.png" class="imgobj1" alt="Img">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title">3th SFF-3D Animation-DARK MELODY</h5>
                                    <p class="card-text">Director: Daniel Vivas</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100">
                                <a target="_blank" href="https://youtu.be/cuouwGfSxE4?si=DQu1fiLMuWyg9asM">
                                    <img src="static/img/imgvideos/III_fest/3th SFF-3D Animation-PATOJITO.png" class="imgobj1" alt="Img">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title">3th SFF-3D Animation-PATOJITO</h5>
                                    <p class="card-text">Director: </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 mx-auto">

                <h3 class="titulo3 mb-3">Filminuto:</h3>

                <div class="col-10 mx-auto p-3">
                    <div class="row row-cols-1 row-cols-md-3 g-4">
                        <div class="col">
                            <div class="card h-100">
                                <a target="_blank" href="https://youtu.be/UeCW4xqevIw?si=-Rrx1AuhIYGMipIL">
                                    <img src="static/img/imgvideos/III_fest/EGO.png" class="imgobj1" alt="Img">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title">3th SFF-Filminuto-EGO</h5>
                                    <p class="card-text">Director: Fredy Ramirez</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100">
                                <a target="_blank" href="https://youtu.be/U4vog_7sLIc?si=VEUSvBDLnNjwkTc1">
                                    <img src="static/img/imgvideos/III_fest/MY WISH.png" class="imgobj1" alt="Img">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title">3th SFF-Filminuto-MY WISH</h5>
                                    <p class="card-text">Director: Ivan Andres Barros Flores</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100">
                                <a target="_blank" href="https://youtu.be/OAskWS2HSok?si=ErrFSV5hB7rhMnv5">
                                    <img src="static/img/imgvideos/III_fest/SUEÑO DE GRANDES.png" class="imgobj1" alt="Img">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title">3th SFF-Filminuto-SUEÑO DE GRANDES</h5>
                                    <p class="card-text">Director: Esteban Ramirez</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100">
                                <a target="_blank" href="https://youtu.be/3FsfAXTOMMM?si=BNRLu8k4l434IlTn">
                                    <img src="static/img/imgvideos/III_fest/DAILY.png" class="imgobj1" alt="Img">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title">3th SFF-Filminuto-DAILY</h5>
                                    <p class="card-text">Director: Carlos Calderon</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}