
<div class="row">
    <div class="col-sm-12 col-md-6 p-5">
        <h2 class="c">SENA Film Festival</h2>
        <h5 class="fontli just">
            The SENA Film Festival is a CGMLTI’s English and Creative Industries
            department initiative and it takes place as a part of the Languages
            week. The festival main aim is promoting and encourage a second
            language use in media products that show SENA students creativity
            and talent.
        </h5>
        <h5 class="fontli just">
            In this festival’s 4th versión current or intership students may register
            their products in the following categories: 2D and 3D animation,
            Filminute amateur or expert and subtitled short film.
        </h5>
    </div>

    <div class="col-sm-12 col-md-6 p-5">
        <h2 class="c">Festival de cine SENA</h2>
        <h5 class="fontli just">
            El SENA Film Festival es una iniciativa de la Coordinación de
            Bilingüismo e Industrias Creativas del Centro de Gestión de
            Mercados, Logística y Tecnologías de la Información, el cual se lleva
            a cabo en el marco de la Semana de los Idiomas. El festival tiene
            como principal objetivo promover y motivar el uso de una lengua
            extranjera en productos audiovisuales que evidencien la creatividad
            y talento de los aprendices SENA.
        </h5>
        <h5 class="fontli just">
            En esta cuarta versión del festival, los aprendices en etapas lectiva o
            productiva pueden inscribir sus productos en las categorías:
            Animación 2D y 3D, Filminuto Aficionado o Experto y Corto
            Subtitulado.
        </h5>
    </div>
</div>

