
<div class="row">
    <div class="col-sm-12 col-md-6 p-5">
        <h2 class="c">Público Objetivo:</h2>
        <h5 class="fontli just">
            Para las categorías de Animación 2D y 3D, Filminuto Experto y Corto
            Subtitulado, pueden participar aprendices SENA en etapa lectiva y
            productiva de los siguientes programas de formación:
        </h5>
        <h5 class="fontli just">
            <ul>
                <li>Producción de Medios Audiovisuales</li>
                <li>Animación 3D</li>
                <li>Animación Digital</li>
                <li>Producción Multimedia</li>
                <li>Cámara y Fotografía</li>
            </ul>
        </h5>
        <h5 class="fontli just">
            (Para la categoría Filminuto Aficionado, pueden participar aprendices
            de cualquier Programa de Formación SENA a nivel nacional).
        </h5>

        <img src="/static/img/img/SFF-PUBLICO OBJETIVO.png" class="imgobj2 p-5 c" alt="Img">
    </div>

    <div class="col-sm-12 col-md-6 p-5">
        <img src="/static/img/img/SFF-OBJETIVOS.png" class="imgobj2 mb-5 p-5 c" alt="Img">

        <h2 class="c">Objetivo del Festival</h2>
        <h5 class="fontli just">
            Diseñar y proyectar un producto audiovisual que
            contemple el uso de una lengua extranjera, tanto en
            subtitulo como en audio, con el fin de fortalecer y
            evidenciar las habilidades comunicativas de los
            aprendices SENA en el manejo de distintos idiomas.
        </h5>
    </div>
</div>
