
<div class="row">
    <div class="col-sm-12 col-md-6 mt-5 p-5">

        <h2 class="titulo3 c">BASE Y REGLAS</h2>

        <h5 class="fontli just">
            La base principal de participación en el Festival es la inclusión
            del idioma inglés, bien sea en su audio, doblaje y subtitulación.
            Asi mismo, los participantes deben ser aprendices activos
            SENA, en etapa lectiva o productiva.
        </h5>

        <img src="/static/img/img/SFF-CONDICIONES DE PRODUCTOI.png" class="imgobj2 p-5 c " alt="Img">

        <h2 class="titulo3 c">TERMINOS Y CONDICIONES </h2>
        <h2 class="titulo3 c">DE PARTICIPACIÓN</h2>

        <h5 class="fontli just">
            <ul>
                <li>En el evento pueden participar aprendices (etapa lectiva y/o productiva) de cualquier centro a nivel nacional.</li>
                <li>Los vídeos deben tener buena calidad (resolución y audio)</li>
                <li>El uso de la lengua extranjera debe cumplir las condiciones en cada una de las categorías. (Ver sección categorías)</li>
                <li>Los vídeo enviados deben pasar por un proceso de pre selecciónantes de ser seleccionados para participar en el evento</li>
                <li>El enlace del vídeo debe ser enviado en el formulario de inscripción</li>
                <li>No se reciben vídeos por fuera del tiempo de inscripción ni por otro medio distinto al formulario</li>
            </ul>
        </h5>
    </div>

    <div class="col-sm-12 col-md-6 p-5">
        <img src="/static/img/img/SFF - BASE Y REGLAS.png" class="imgobj2 mb-5 c" alt="Img">

        <h2 class="titulo3 c">CONDICIONES DEL </h2>
        <h2 class="titulo3 c">PRODUCTO AUDIOVISUAL</h2>

        <h5 class="fontli just">
            El género del producto audiovisual puede ser: comedia, drama,
            acción, thriller, ciencia ficción. No se aceptarán vídeos que
            incluyan material violento, sexual o discriminatorio por motivos
            de raza, género o religión, los productos deben cumplir con las
            condiciones de acuerdo a cada categoría
        </h5>

        <img src="/static/img/img/SFF - TERMINOS Y COND PARTICIPACION.png" class="imgobj2 mx-auto mt-5 p-5 c" alt="Img">
    </div>
</div>
