
<h1 class="pt-3 c">SENA FILM FESTIVAL TEAM</h1>
<div class="col-11 mx-auto mt-3">
    <div class="row">
        <div class="col-md-3 mx-auto font2 c">
            <img src="/static/img/img/Diana Galan.png" class="imgcomm" alt="Img">
            <h3 class="mt-3"><strong>Diana Galán Vega</strong></h3>
            <h5 class="fontli">Profesional área de bilingüismo</h5>
        </div>
        <div class="col-md-3 mx-auto font2 c">
            <img src="/static/img/img/Natalia Baez.png" class="imgcomm" alt="Img">
            <h3 class="mt-3"><strong>Natalia Baez</strong></h3>
            <h5 class="fontli">Instructora de industrias creativas</h5>
        </div>
        <div class="col-md-3 mx-auto font2 c">
            <img src="/static/img/img/Felipe Isaza.png" class="imgcomm" alt="Img">
            <h3 class="mt-3"><strong>Felipe Isaza</strong></h3>
            <h5 class="fontli">Instructor líder de la InHouse 52</h5>
        </div>
    </div>
</div>

<h1 class="pt-5 c">SENA FILM FESTIVAL DESING TEAM</h1>
<div class="col-11 mx-auto mt-3">
    <div class="row">
        <div class="col-md-3 mx-auto font2 c">
            <img src="/static/img/img/Ivan Mateo Lopez.png" class="imgcomm" alt="Img">
            <h3 class="mt-3"><strong>Mateo Lopez</strong></h3>
            <h5 class="fontli">Diseño Gráfico</h5>
        </div>
        <div class="col-md-3 mx-auto font2 c">
            <img src="/static/img/img/Paula Poveda.png" class="imgcomm" alt="Img">
            <h3 class="mt-3"><strong>Alejandra Poveda</strong></h3>
            <h5 class="fontli">Diseño Gráfico</h5>
        </div>
        <div class="col-md-3 mx-auto font2 c">
            <img src="/static/img/img/Gabriel Masutier.png" class="imgcomm" alt="Img">
            <h3 class="mt-3"><strong>Gabriel Masutier</strong></h3>
            <h5 class="fontli">Desarrollo Web</h5>
        </div>
    </div>
</div>
