{% extends 'layout.html' %}

{% block content %}

    <div class="col-12 c">
        <img src="static/img/banner/SFF - BANNER GANADORES.jpg" class="imgobj1" alt="Img">
    </div>

    <div class="col-12 mx-auto">
        <div class="col-11 mx-auto mt-5 mb-5">

            <h3 class="titulo4 mb-3 c">IV FESTIVAL</h3>

            <div class="col-12 mx-auto">
                <div class="col-10 mx-auto p-3">
                    <div class="row row-cols-1 row-cols-md-3 g-4 c">
                        <div class="col">
                            <div class="card h-100">
                                <a target="_blank" href="https://youtu.be/ylVuitdQmVA?si=Y-G4s4AAM2pSwiId">
                                    <img src="static/img/imgvideos/VI_fest/4th SFF-2D Animation-Invasion with discretion.png" class="imgobj1" alt="Img">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title">4th SFF-2D Animation-Invasion with discretion</h5>
                                    <p class="card-text">Director: Carlos David Osorio Gallego</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100">
                                <a target="_blank" href="https://youtu.be/DhJRWJ6vqfw?si=ZxS0LD-imM6ehKyN">
                                    <img src="static/img/imgvideos/VI_fest/4th SFF-3D Animation-La armadura del héroe.png" class="imgobj1" alt="Img">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title">4th SFF-3D Animation-La armadura del héroe</h5>
                                    <p class="card-text">Director: Diana Salazar y Sergio Diaz</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100">
                                <a target="_blank" href="https://youtu.be/SFhM_FR1fLE?si=9zUvXq0D5EW0iZ2v">
                                    <img src="static/img/imgvideos/VI_fest/4th SFF-Amateur Filminute-Sueño o Realidad.png" class="imgobj1" alt="Img">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title">4th SFF-Amateur Filminute-Sueño o Realidad</h5>
                                    <p class="card-text">Director: Andrés Felipe Chacón Martínez</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100">
                                <a target="_blank" href="https://youtu.be/t6q2j65SxQQ?si=-OqhNI8abjrCdm9r">
                                    <img src="static/img/imgvideos/VI_fest/4th SFF-Expert Filminute-The Facts.png" class="imgobj1" alt="Img">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title">4th SFF-Expert Filminute-The Facts</h5>
                                    <p class="card-text">Director: Paula Lizbeth Sánchez Hidalgo</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100">
                                <a target="_blank" href="https://youtu.be/DoFP7Kn7H2I?si=tnv2uu_61qkIuCWk">
                                    <img src="static/img/imgvideos/VI_fest/4th SFF-Subtitled Shortfilm-La Inocente Sara.png" class="imgobj1" alt="Img">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title">4th SFF-Subtitled Shortfilm-La Inocente Sara</h5>
                                    <p class="card-text">Director: Daniel Montes</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>


            <h3 class="titulo4 mb-3 c">III FESTIVAL</h3>

            <div class="col-12 mx-auto">

                <div class="col-10 mx-auto p-3">
                    <div class="row row-cols-1 row-cols-md-3 g-4">
                        <div class="col">
                            <div class="card h-100">
                                <a target="_blank" href="https://youtu.be/EvKL72xZ3WY?si=sDubAdJdBh_KJOPy">
                                    <img src="static/img/imgvideos/III_fest/3th SFF-Corto Subtitulado_AETHER: ENTRE DIMENSIONES.png" class="imgobj1" alt="Img">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title">3th SFF-Corto Subtitulado AETHER: ENTRE DIMENSIONES</h5>
                                    <p class="card-text">Director: Cristian Sanchez</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100">
                                <a target="_blank" href="https://youtu.be/3FsfAXTOMMM?si=BNRLu8k4l434IlTn">
                                    <img src="static/img/imgvideos/III_fest/DAILY.png" class="imgobj1" alt="Img">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title">3th SFF-Filminuto-DAILY</h5>
                                    <p class="card-text">Director: Carlos Calderon</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100">
                                <a target="_blank" href="https://youtu.be/QpWx8--9J0w?si=gFNTrmhS7qTk4QV5">
                                    <img src="static/img/imgvideos/III_fest/3th SFF-3D Animation-DARK MELODY.png" class="imgobj1" alt="Img">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title">3th SFF-3D Animation-DARK MELODY</h5>
                                    <p class="card-text">Director: Daniel Vivas</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <h3 class="titulo4 mb-3 c">II FESTIVAL</h3>
            <div class="col-12 mx-auto">
                <div class="col-10 mx-auto p-3">
                    <div class="row row-cols-1 row-cols-md-3 g-4">
                        <div class="col">
                            <div class="card h-100">
                                <a target="_blank" href="https://youtu.be/msO1LUY6CoQ?si=JGoECUr1nNd9xMYj">
                                    <img src="static/img/imgvideos/II_fest/2SFF - 3D ANIMATION - DEATH GRANNY.png" class="imgobj1" alt="Img">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title">2SFF - 3D ANIMATION - DEATH GRANNY</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100">
                                <a target="_blank" href="https://youtu.be/Sg7OBXhWjWs?si=YvIXahewCoz6q9Jr">
                                    <img src="static/img/imgvideos/II_fest/2SFF - FILMINUTE - DROPS.png" class="imgobj1" alt="Img">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title">2SFF - FILMINUTE - DROPS</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100">
                                <a target="_blank" href="https://youtu.be/DSWZIygv30s?si=nHTF4uN_eHiIqjSc">
                                    <img src="static/img/imgvideos/II_fest/2SFF - SUBTITLED SHORTFILM - PERFIDIA.png" class="imgobj1" alt="Img">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title">2SFF - SUBTITLED SHORTFILM - PERFIDIA</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <h3 class="titulo4 mb-3 c">I FESTIVAL</h3>
            <div class="col-12 mx-auto">
                <div class="col-10 mx-auto p-3">
                    <div class="row row-cols-1 row-cols-md-3 g-4">
                        <div class="col">
                            <div class="card h-100">
                                <a target="_blank" href="https://youtu.be/tQwA_kXfaAc?si=oD1CLm9-D2Ca1s58">
                                    <img src="static/img/imgvideos/I_fest/1SFF - 3D ANIMATION - THE SEED.png" class="imgobj1" alt="Img">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title">1SFF - 3D ANIMATION - THE SEED</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100">
                                <a target="_blank" href="https://youtu.be/8TB7MddJ6so?si=oY6VDrdSQLYL8wKe">
                                    <img src="static/img/imgvideos/I_fest/1SFF - FILMINUTE - ENGLISH REQUIRED.png" class="imgobj1" alt="Img">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title">1SFF - FILMINUTE - ENGLISH REQUIRED</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100">
                                <a target="_blank" href="https://youtu.be/voDQG_BNf1Y?si=6ZLfNJHZ0ApnTn0c0">
                                    <img src="static/img/imgvideos/I_fest/1SFF - DOCUMENTAL - LA POBLACIÓN DEL OLVIDO.png" class="imgobj1" alt="Img">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title">1SFF - DOCUMENTAL - LA POBLACIÓN DEL OLVIDO</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

{% endblock %}